.album__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
     background-color: #E0DDAE;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 500px;
    border-radius: 6px;
    /* overflow: scroll; */
    /* overflow-y: scroll; */
}

.user__albums__title {
    align-items: center;
    margin-left: 90px;
}

.user__album__div {
    margin-top: 10px;
   background-color: #ACA97D;
    border-radius: 6px;
    padding: 15px;
}

.albums__list {
    background-color: #E0E0AE;
    margin-top: 15px;
    border-radius: 6px;
    padding: 8px;
}

.other__album__div {
    margin-top: 10px;
   background-color: #ACA97D;
    border-radius: 6px;
    padding: 15px;
}

.form__container {
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.photo__list {
    margin-top: 10px;
   background-color: #ACA97D;
    border-radius: 6px;
    padding: 15px;
}

.album__form {
    background-color: #ACA97D;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border-radius: 10px;
    padding: 32px;
    justify-content: space-between;
}

.edit__button {
    color: black;
    background-color: #BCCEA0;
    border-radius: 7px;
    padding: 2px;
    margin-left: 10px;
    font-size: 0.3em;
    align-items: center;
}
.delete__button {
    /* background-color: #940051; */
    color: black;
    background-color: #BCCEA0;
    border-radius: 7px;
    padding: 2px;
    font-size: 0.3em;
    align-items: center;
    color: white;
}

.photo__delete {
    margin-left: 100px;
}

.label {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 0px;
    width: 20px;
    margin-right: 10px;
}

.new__album__button {
    box-sizing: border-box;
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color: #ACA97D;
}

.added__by {
    font-size: 2px;
}