.title {
    display: flex;
    justify-content: center;
    width: 500px;
    margin-left: 300px;
}

.home {
    margin-top: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.home > p {
    margin-left: 200px;
    overflow: wrap;
}