.photo__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    background-color: #E0DDAE;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 640px;
    border-radius: 6px;
    overflow: scroll;
}

.user__photo__div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #ACA97D;
    border-radius: 6px;
    padding: 15px;
    align-content: center;
}

.edit__button {
    padding: 2.5px;
    color: black;
    background-color: #BCCEA0;
}

.photo__delete {
    padding: 3px;
    color: black;
    background-color: #BCCEA0;
}