nav {
    display: inline-flex;
    flex-direction: column;
    background-color: #E0D6AE;
    width: 150px;
    height: 150px;
    margin: 0px;
    position: sticky;
    color: black;
    border-radius: 10px;
    top: 0;
    position: absolute;
    overflow-y: scroll;
}

.nav__link {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    position: relative
}

.dropdown {
   height: 200px;
   background-color: #E0D6AE;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

ul {
    list-style-type: none;
}

.profile__button {
    margin-left: 10px;
    margin-top: 20px;
}

.open__nav {
    width: 0px;
    background-color: #E0D6AE;
    border: none;
    border-radius: 0px;
    position: absolute;
}

.nav__link:visited {
    color: black;
}

#logout {
    width: 100px;
}

.button {
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
     background-color: #FFFDDE;
}
