nav {
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(91, 91, 247);
    width: 200px;
    height: 150px;
    margin: 0px;
    position: sticky;
    color: black;
    border-radius: 10px;
    top: 0;
    position: absolute;
}

.nav__link {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    background-color: #BCCEA0;
}

.dropdown {
   height: 400px;
   position: absolute;
   background-color: rgb(91, 91, 247);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

ul {
    list-style-type: none;
}

.profile__button {
    margin-left: 10px;
}

.open__nav {
    width: 50px;
    background-color: rgb(208, 129, 220);
    border-radius: 7px;
}

.nav__link:visited {
    color: black;
}

#logout {
    width: 100px;
}

.button {
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: #BCCEA0;
}
